@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
:root {
    --heading-font: Monteserrat, sans-serif;
    --paragraph-font: Roboto , serif;

   
}

*{
    margin: 10px;
    box-sizing: border-box;
}

body{
    height: 95vh;
    background: whitesmoke;
    font-family: sans-serif;
    text-align: centre;
    
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

header{
    background:#B1A180;
    padding: 0;
    justify-content: space-between;
    display: grid;
    max-width: 100%;   
}

header h1{
    display: flex;
    flex: 1 1 100%;
    font-size: 2rem; 
    padding: 0; 
    margin: 0;
}
nav {
    display: flex;
    flex: 1 1 100%;
    background: #6D5F37;
    max-width: 100%;
    padding: 0;
    justify-content: space-between;
    margin-top: -0.4em;
    margin-bottom: -0.85em;
}

nav a {
    text-decoration: none;
    padding: 5.12rem;
    color: black;
    font-size: 1.75rem;
}

nav ul {
    list-style-type: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 20px; 
}

nav a:hover {
    background-color: #989062;
    font-weight: 700;
    text-decoration: underline;
}

.main{
    display: flex;
    flex: 1;
}

main h3{
    background: rgb(245, 245, 247);
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
    text-decoration: underline;
}

main h2{
    background-color: rgb(115, 147, 179);
}

.right{
    color: white;
    background: rgb(115, 147, 179);
    padding: 0em 0 2em 0;
    font-size: 20px;
}

.right a ul {
    color: white;
}

.right h2{
    background-color: rgb(115, 147, 179);
    color: black;
    text-decoration: underline;
}

aside.right ul.box a {
    color: rgb(209, 213, 210);
}

aside.right ul li:hover {
    color: white;
    font-weight: 700;
    background-color: rgb(40, 76, 110);
    
 } 


footer{
    background: #B1A180;
    padding: 1em 0 1em 0;
}

@media all and (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
}