
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root {
    --text-font: 'Poppins', sans-serif;
    --header-font: 'Times New Roman', Times, serif;
}

body {
    font-family: var(--text-font);
    margin-top: -1.5rem;
    background-color: white;
    margin: 0;
}

/* Header Section */
header {
    background-color: #026455;
    color: #FFFFFF;
    padding: 2rem;
}

header h1 {
    font-family: var(--header-font);
    text-align: center;
}

header::after {
    border: #009739;
}

/*Hero*/
#hero {
    position: relative;
    border: 1px solid rgba(249, 250, 251, 0.1);
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Information*/
#data,
#weather {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #FFFFFF;
    border: 1px solid #009739;
    padding: 1rem;
    font-weight: bolder;
}

#hero h2 {
    display: flex;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    color: #012169;
}

#data {
    grid-column: auto;
    grid-row: 1/2;
}

#weather {
    grid-column: auto;
    grid-row: 2/3;
}

h2 #sun {
    width: 12%;
    padding: 0.50rem;
}

/* Footer Section */
footer {
    font-family: var(--header-font);
    padding: 1rem;
    text-align: center;
    background-color:#026455;
    color: white;
}


@media screen and (min-width:750px) {

    /*Information*/
    #data,
    #weather {
        display: block;
        position: absolute;
        border: 1px solid #FEDD00;
        padding: 1rem;
        opacity: 0.8;
        font-weight: bolder;
    }

    #hero h2 {
        display: flex;
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    #data {
        top: 30px;
        left: 30px;
        right: auto;
    }

    #weather {
        bottom: 30px;
        right: 30px;
        left: auto;
    }


}
