
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


#hamburger {
    border: none;
    background: none;
    font-size: larger;
    color: white;
}

#hamburger::before {
    content: "☰";
}

#hamburger.open::before {
    content: "X";
}

#nav {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: 100%;
    margin: 0;
    justify-content: center;
    padding: 10px;
    color: #000000;
}



header {
    display: flex;
    grid-template-columns: 120px 2fr;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 100%;
    background-color: white;
}   

header img {
    margin: 0 0.3rem 0 1rem;
    width: 100px;
    height: auto;
}

header nav {
    display: flex;
    flex: 1 1 100%;
    text-align: right;
    justify-content: space-around;
}
 header nav a {
    display: flex;
    color: black;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
 }
 header nav a:hover {
    color: white;
    font-weight: 600;
    background-color: black;
    text-decoration: underline;
 } 

 body {
    max-width: 1200px;
    margin: 0 auto; 
}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}
.hero h1 {
    position: absolute;
    top: 20px; 
    left: 20px; 
}

.hero article {
    position: absolute;
    top: 100px; 
    right: 20px; 
    width: 300px; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; 
}


.container {
    display: flex; 
    border-radius: 5px 0 0 5px; 
    overflow: hidden; 
  }
  
  .container img {
    width: 25%; 
    height: auto;
    object-fit: cover; 
  }

  .container {
    background-color: #000000;
    border: 0.5px solid #ddd; /* Add a border for better visibility */
    padding: 1rem; /* Add some padding for spacing */
    margin-bottom: 1rem; /* Add some margin for separation */
  }
  
  .container h1 {
    text-align: center;
    padding: 1rem;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: center;
    z-index: 1; 
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 0.2rem; /* Adjust the margin below the heading */
  }

  button {
    background-color: #080808;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1d1d1f;
    color: white;
}
  

.cta-button {
    background-color: #030303;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.3s ease;
}


.cta-button:hover {
    background-color: #28282b;
    color: white;
}



.image-gallery {
    display: flex; /* Arrange images horizontally */
    flex-wrap: wrap; /* Allow images to wrap to multiple lines if needed */
    margin: 0 auto; /* Center the gallery horizontally */
    gap: 1rem; /* Add some space between images */
  }
  
  .image-gallery img {
    width: 200px; /* Set a width for each image */
    height: 200px; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure images fill the available space */
  }
  
  .image-gallery {
    background-color: black;
  }

  
/* Style the iframe to remove border and set a width */
iframe {
    border: none;
    width: 100%;
    height: 300px;
}

/* Style the main content area */
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* History section styles */
.history {
    margin-bottom: 40px;
}

.history h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.history img {
    max-width: 40%;
    height: auto;
    margin-bottom: 20px;
}

/* Adventures section styles */
.adventures {
    margin-bottom: 40px;
}

.adventures h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

body {
  margin: 0;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  color: #333;
}

.adventures {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.adventures h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #222;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

figure {
  margin: 0;
  width: 100%;
  max-width: 300px;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

figure:hover img {
  transform: scale(1.05);
}

figcaption {
  margin-top: 10px;
  font-size: 1em;
  color: #555;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
  .adventures h2 {
      font-size: 2.5em;
  }

  .image-container {
      gap: 30px;
  }

  figcaption {
      font-size: 1.1em;
  }
}

@media (min-width: 768px) {
  figure {
      width: 45%;
  }
}

@media (min-width: 1024px) {
  figure {
      width: 30%;
  }

  .adventures h2 {
      font-size: 3em;
  }

  figcaption {
      font-size: 1.2em;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  padding: 20px;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  text-align: center;
}

.footer-content {
  margin-bottom: 10px;
}

.footer-content p {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a img {
  max-width: 30px;
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
}



/* CONTACT.html CSS */
.contact-info {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
}

.contact-info legend {
    font-size: 2em;
    font-weight: bold;
    color: rgb(34, 3, 33);
    text-align: center;
    margin: 1rem 0;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact-item p {
    font-size: 1.2em;
    color: #040404;
}

fieldset {
    border: 1px solid #ddd; /* Light grey border */
    padding: 1.5rem; /* Inner padding */
    margin-bottom: 1rem; /* Spacing between fieldsets */
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #f5f5f5;
  }
  
  legend {
    font-weight: bold; /* Bold text for legends */
    padding: 0.5rem; /* Padding for legends */
    text-align: center;

  }
  
  .employee-profiles {
    display: flex; /* Arrange employees horizontally */
    justify-content: center; /* Center the employees horizontally */
    flex-wrap: wrap; /* Allow employees to wrap to multiple lines */
  }
  
  .employee {
    margin: 0.5rem; /* Spacing between employee profiles */
    text-align: center; /* Center text within profiles */
  }
  
  .employee img {
    width: 150px; /* Set image width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Circular images */
  }


  /* Contact Form */
fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  legend {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Style the labels and inputs */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Style the purpose section */
  .purpose label {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Style the message textarea */
  label[for="message"] {
    display: block;
    margin-bottom: 5px;
  }
  
  textarea#message {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  /* Style the subscribe section */
  .subscribe label {
    display: block;
    margin-bottom: 5px;
  }
  
  .subscribe input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Global Styles */
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #333;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  max-width: 100%;
  background-color: white;
  padding: 10px;
}

header img {
  margin: 0 0.3rem 0 1rem;
  width: 100px;
  height: auto;
}

header nav {
  display: flex;
  flex: 1 1 100%;
  justify-content: space-around;
  text-align: right;
}

header nav a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
}

header nav a:hover {
  color: white;
  background-color: black;
  text-decoration: underline;
}

/* Hamburger Menu Styles */
#hamburger {
  border: none;
  background: none;
  font-size: larger;
  color: white;
}

#hamburger::before {
  content: "☰";
}

#hamburger.open::before {
  content: "X";
}

/* Navigation Styles */
#nav {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding: 10px;
  width: 100%;
  margin: 0;
}

/* Hero Section Styles */
.hero {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.hero h2 {
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  color: white;
  z-index: 1; 
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 0;
}

/* Container Styles */
.container {
  display: flex;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  background-color: #000000;
  border: 0.5px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
}

.container img {
  width: 25%;
  height: auto;
  object-fit: cover;
}

.container h1 {
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  color: white;
  margin-bottom: 0.2rem;
}

/* Button Styles */
button, .cta-button {
  background-color: #080808;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

button:hover, .cta-button:hover {
  background-color: #1d1d1f;
}

/* Image Section Styles */
.image-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-gallery {
  flex: 1 1 calc(33.33% - 10px);
  margin-bottom: 20px;
}

.image-gallery h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.image-gallery img {
  width: 100%;
  height: 300px;
  display: block;
  margin-bottom: 10px;
}

/* Brand Section Styles */
.brand-section {
  text-align: center;
  margin-bottom: 20px;
}

.brand-section img {
  max-width: 100%;
  height: auto;
}

.brand-section h3 {
  font-size: 24px;
  margin-top: 10px;
}

/* Iframe Styles */
iframe {
  border: none;
  width: 100%;
  height: 300px;
}

/* Main Content Styles */
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}



/* Footer Styles */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  padding: 20px;
  font-family: "Merriweather", Arial, Helvetica, sans-serif;
  text-align: center;
}

.footer-content {
  margin-bottom: 10px;
}

.footer-content p {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a img {
  max-width: 30px;
  transition: transform 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

/* Contact Info Styles */
.contact-info {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
}

.contact-info legend {
  font-size: 2em;
  font-weight: bold;
  color: rgb(34, 3, 33);
  text-align: center;
  margin: 1rem 0;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contact-item p {
  font-size: 1.2em;
  color: #040404;
}

/* Fieldset Styles */
fieldset {
  border: 1px solid #ddd;
  padding: 1.5rem;
  margin-bottom: 1rem;
  display: grid;
  grid-gap: .5rem;
  background-color: #f5f5f5;
}

legend {
  font-weight: bold;
  padding: 0.5rem;
  text-align: center;
}

/* Employee Profiles Styles */
.employee-profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.employee {
  margin: 0.5rem;
  text-align: center;
}

.employee img {
  width: 150px;
  height: auto;
  border-radius: 50%;
}

/* Contact Form Styles */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

textarea#message {
  resize: vertical;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
  header nav a {
      padding: 15px 25px;
  }
  
  .hero h2 {
      font-size: 2em;
  }

  .container h1 {
      font-size: 2em;
  }

  .image-gallery {
      flex: 1 1 calc(50% - 10px);
  }

  .history h1 {
      font-size: 28px;
  }

  .history img {
      max-width: 50%;
  }

  .adventures h2 {
      font-size: 2.5em;
  }

  .image-container {
      gap: 30px;
  }

  figcaption {
      font-size: 1.1em;
  }
}

@media (min-width: 768px) {
  .container h1 {
      font-size: 2.5em;
  }

  .image-gallery {
      flex: 1 1 calc(33.33% - 10px);
  }

  .adventures h2 {
      font-size: 3em;
  }

  figcaption {
      font-size: 1.2em;
  }
}

@media (min-width: 1024px) {
  header nav a {
      padding: 20px 30px;
  }

  .hero
